*{
 box-sizing: border-box;
}
h1{
 margin-left: 20px;
}
.container{
 display: flex;
 margin: 20px;
 border: 1px solid black;
 padding: 10px;
}
.container img {
 max-width: 40%;
 max-height: 50%;
 margin-right: 10px;
}
#map{
 width: 70%;
 height: 70%;
 margin: 20px;
}
.popup span{
 display: inline-block;
 font-size: 16px;
 margin: 5px;
}
.adress{
 color: #1d8f4d;
 text-decoration: underline;
}
.phone{
 font-weight: bold;
}