* {
 box-sizing: border-box;
}
html {
 font-family: "Proxima Nova", sans-serif;
 font-size: 1vw;
}
body {
 margin: 0;
 height: 100%;
 width: 100%;
 overflow: auto;
 font-size:1vw;
 
}
ul{
 padding:0;
 margin:0;
}
li{
 list-style:none;
}
a, a:visited, a:hover {
 text-decoration:none;
 color:inherit;
}
.header{
 position: fixed;
 width: 100%;
 min-height:38px;
 background-color: orange;
}
.panel{
 background-color: #FEA500;
 width: 100%;
}
.header-menu{
 width:100%;
}
.menu{
 display:flex;
 min-width:380px;
 align-items: center;
}
.menu .menu-item{
 display:inline-block;
 position: relative;
 font-size: 1vw;
 line-height: 26px;
 color: #000;
 font-family: "Proxima Nova", sans-serif;
 font-weight:bold;
}
.menu-link{
 margin-left:5px ;
}
.small-circle{
 width: 5px;
 height: 5px;
 margin: 2px;
 border-radius: 2px;
 background-color: #CA1907;
}
.menu .menu-item a{
 display:inline-block;
 padding:15px 10px;
 position: relative;
}
.menu-item:hover{
 background-color: #FFCF5F;
 color:white;
}
.main-page{
 display: flex;
 width: 100%;
 position: fixed;
 top:74px;
 bottom: 0;
 overflow: auto;
 background: rgb(255,255,255); /* Old browsers */
 background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(242,228,106,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(242,228,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(160deg, rgba(255,255,255,1) 0%,rgba(242,228,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2e46a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn-slider {
 display: block;
 position: absolute;
 right: 30px;
 top: 30px;
 margin-top: -10px;
 padding: 8px 0;
 z-index: 10;
}

.btn-slider:after {
 content: '\23F6';
}
.btn-slider.active:after {
 content: '\23F7';
}
.content{
 width: 100%;
 height: 100px;
 min-height: 100%;
 background-color: white;
 margin: 1% 10% 0 10%;
 padding:10px;
}
#carousel {
	width: 100%;
	height:50%;
}
#welcome {
	font-size: 1.2vw;
	margin-bottom:0;
}
p{
	font-family: "Proxima Nova", sans-serif;
	margin: 20px;
	font-size: 1vw;
}
#inline-list{
	margin-left: 50px;
}
#inline-list li{
	list-style: square outside;
}
h3 {
	font-size:1.5vw;
	font-weight: bold;
}
h2 {
	font-size:1.8vw;
	font-weight: bold;
}
.error {
	color: red;
	margin-top: 10px;
}
.result {
	margin-top: 10px;
}
